@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,400&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F5F9;    
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 640px;
    border-radius: 15px;
    background: white;
}

.main {
    border: 3px solid #F2F5F9;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #F2F5F9;
}

.main__text{
    width: 90%;
    margin: 0 auto;
}

.main__img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.main__h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #111729;
}

.main__p {
    font-size: 1rem;
    color: #677489;
    margin: 1rem 0;
}

.footer {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    gap: 1.5rem;
}

.footer__img {
    width: 10%;
    border-radius: 50%;
    border: 7px solid #F2F5F9;
}

.footer__span {
    color: #677489;
}