@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root {
    --light-background: #F2F9FE;
    --light-color : #FFFFFF;
    --darck-background: #223344;
    --darck-color : #111729;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body,
html {
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

body.dark-mode .wrapper {
    background-color: var(--darck-background);
    color: var(--light-color);
}

.wrapper {
    display: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--light-background);
    color: var(--darck-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
    padding-top: 1.25rem;
}

.modal__close{
    position: absolute;
    top: 0;
    right: 0;
    background: #FFFFFF;
    width: 60%;
    height: 100vh;
}

.modal__open {
    display: none;
}

.open__btn {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    outline: transparent;
}

.close__btn {
    background-color: transparent;
    border: none;
    outline: transparent;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
    right: -350px;
}

.open__btn:hover,
.close__btn:hover {
    cursor: pointer;
}

.close__ul {
    font-size: 3rem;
    gap: 4rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

.close__theme {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.close__ul>li>a {
    color: var(--darck-color);
}

.header__nav {
    display: flex;
    gap:2rem;
    font-size: 1.125rem;
}

.header__nav > li > a {
    color: #909193;
    font-weight: 600;
}

.header__nav>li>a:hover,
.header__nav>li>a:active {
    cursor: pointer;
    color: var(--darck-color);
}

.header__theme,
.close__theme {
    background-color: #223344;
    border-radius: 100px;
    padding: 3px;
    max-width: fit-content;
}

.header__theme > button,
.close__theme > button {
    border: none;
    outline: transparent;
    color: var(--light-background);
    font-size: 8px;
}

.header__theme>button:hover {
    cursor: pointer;
}

.theme__night,
.close__night {
    background-color: transparent;
    padding: 5px;
}

.theme__sun,
.close__sun {
    background-color: var(--light-background);
    border-radius: 100%;
    padding: 5px;
}

.main {
    margin: 4rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.main__img > img{
    width: 100%;
}

.content__h3 {
    text-transform: uppercase;
}

.content__h2 {
    margin: 2rem 0;
    font-size:3.75rem;
    color: var(--darck-color);
    font-weight: 600;
    line-height: 80px;
}

.content__p {
    color: #909193;
}

.content__btns {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 1.5rem 0;
}

.content__btns>button {
    padding: 1rem 1.5rem;
    border: none;
    outline: transparent;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.content__btns>button:hover
.content__btns>button:active {
    cursor: pointer;
}

.content__btns>button:first-child {
    background-color: #2A4DD0;
    text-transform: uppercase;
    color: var(--light-background);
}

.content__btns>button:last-child {
    color: #2A4DD0;
    background-color: transparent;
    text-decoration-line: underline;
}

.content__tasks {
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 1.2rem;

}

.content__tasks>small {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: #909193;
}


@media screen and (max-width: 1024px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .main__img {
        width: 60%;
        margin: 0 auto 6rem auto;
    }
}

@media screen and (max-width: 740px) {
    .header__nav,
    .header__theme {
        display: none;
    }

    .modal__open {
        display: block;
    }
}